In [1]:
code = '300020'

In [2]:
code.startswith('3')

In [3]:
help(code.startswith)

In [4]:
import pandas as pd

In [5]:
stock_basic_data = pd.DataFrame(
[
    [1.5, 10, 0.05, 35],
    [1.5, 10, 0.05, 36],
    [1.5, 10, 0.05, 34],
    [1.4, 10, -0.10, 32],
    [1.4, 10, -0.10, 33],
    [1.4, 12, -0.10, 30],
    [1.4, 12, -0.10, 29]
],
index = pd.date_range('2018-01-01', periods = 7),
    columns = ['PB', 'PE', 'ROE', 'CLOSE']
)

In [6]:
stock_basic_data.head()

             PB  PE   ROE  CLOSE
2018-01-01  1.5  10  0.05     35
2018-01-02  1.5  10  0.05     36
2018-01-03  1.5  10  0.05     34
2018-01-04  1.4  10 -0.10     32
2018-01-05  1.4  10 -0.10     33

In [7]:
stock_basic_data.loc['2018-01-02']

PB        1.50
PE       10.00
ROE       0.05
CLOSE    36.00
Name: 2018-01-02 00:00:00, dtype: float64

In [8]:
#输出不连续的列
stock_basic_data.loc[:, ['PE', 'CLOSE']]

            PE  CLOSE
2018-01-01  10     35
2018-01-02  10     36
2018-01-03  10     34
2018-01-04  10     32
2018-01-05  10     33
2018-01-06  12     30
2018-01-07  12     29

In [9]:
#输出连续的列
stock_basic_data.loc[:,'PE':'CLOSE']

            PE   ROE  CLOSE
2018-01-01  10  0.05     35
2018-01-02  10  0.05     36
2018-01-03  10  0.05     34
2018-01-04  10 -0.10     32
2018-01-05  10 -0.10     33
2018-01-06  12 -0.10     30
2018-01-07  12 -0.10     29

In [10]:
#不同行
stock_basic_data.loc['2018-01-04':'2018-01-06',['PE','CLOSE']]

            PE  CLOSE
2018-01-04  10     32
2018-01-05  10     33
2018-01-06  12     30

In [11]:

stock_basic_data.loc[stock_basic_data['ROE']<0]

             PB  PE  ROE  CLOSE
2018-01-04  1.4  10 -0.1     32
2018-01-05  1.4  10 -0.1     33
2018-01-06  1.4  12 -0.1     30
2018-01-07  1.4  12 -0.1     29

In [12]:
stock_basic_data.loc[stock_basic_data['ROE']<0, 'PE']

2018-01-04    10
2018-01-05    10
2018-01-06    12
2018-01-07    12
Freq: D, Name: PE, dtype: int64

In [13]:
stock_basic_data.loc[stock_basic_data['ROE']<0, 'new_column'] = 0
stock_basic_data

             PB  PE   ROE  CLOSE  new_column
2018-01-01  1.5  10  0.05     35         NaN
2018-01-02  1.5  10  0.05     36         NaN
2018-01-03  1.5  10  0.05     34         NaN
2018-01-04  1.4  10 -0.10     32         0.0
2018-01-05  1.4  10 -0.10     33         0.0
2018-01-06  1.4  12 -0.10     30         0.0
2018-01-07  1.4  12 -0.10     29         0.0

In [14]:
import numpy as np

In [15]:
data=[0,1,2,3,4,5,6,7,8,9]

In [16]:
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
data[5:9]

[5, 6, 7, 8]

In [18]:
data[::-5]

[9, 4]

In [19]:
data[-5:]

[5, 6, 7, 8, 9]

In [21]:
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
create_data=pd.DataFrame(
    [1.2,1.3,1.4,1.5,1.6],
    index=["600001","600002","600003","600004","600005"],
    columns=['PE']
)

In [25]:
create_data

         PE
600001  1.2
600002  1.3
600003  1.4
600004  1.5
600005  1.6

In [26]:
max(create_data.PE)

1.6

In [27]:
max(create_data['PE'])

1.6