In [1]:
code = '300020'

In [2]:
code.startswith('3')

True

In [4]:
help(code.startswith)

Help on built-in function startswith:

startswith(...) method of builtins.str instance
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [5]:
import pandas as pd

In [8]:
stock_basic_data = pd.DataFrame(
[
    [1.5, 10, 0.05, 35],
    [1.5, 10, 0.05, 36],
    [1.5, 10, 0.05, 34],
    [1.4, 10, -0.10, 32],
    [1.4, 10, -0.10, 33],
    [1.4, 12, -0.10, 30],
    [1.4, 12, -0.10, 29]
],
index = pd.date_range('2018-01-01', periods = 7),
    columns = ['PB', 'PE', 'ROE', 'CLOSE']
)

In [9]:
stock_basic_data.head()

             PB  PE   ROE  CLOSE
2018-01-01  1.5  10  0.05     35
2018-01-02  1.5  10  0.05     36
2018-01-03  1.5  10  0.05     34
2018-01-04  1.4  10 -0.10     32
2018-01-05  1.4  10 -0.10     33

In [13]:
stock_basic_data.loc['2018-01-02']

PB        1.50
PE       10.00
ROE       0.05
CLOSE    36.00
Name: 2018-01-02 00:00:00, dtype: float64